body {
  background-image: url("vincent-giersch-Jky9coxzeHI-unsplash.jpg");
  border: 2px solid;
  color: pink;
  width : 100%;
  height: 100%;
  margin: 2px;
  padding: 0;
  overflow: auto;
  
}
p {color: black;}
h2 {background-color:burlywood;
  border: maroon;
  border-style: solid
  ;
  color: black;
  text-align: center;

}
div p {font-size: x-large;
font-weight: bold;
font-family: 'Times New Roman', Times, serif;

}
div {background-color: rgb(238, 107, 188);
border-color: white;
border-style: solid;
/* justify-content: space-around; */

}
div h1 {display: flex;
justify-content: space-around;
background-color: fuchsia;
}
/* div form {display: inline;
flex-direction: row;
} */

.form{
  
  color: black;
  align-items: right;
  background-color: rgba(0, 0, 255, 0.918);
}

a:hover {
  background-color: yellow;
}
